automations/make-speed-to-lead-email.json
{
    "name": "Speed-to-Lead (Email pilot)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1000001,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Lead intake (webhook)"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "speed-to-lead intake",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "firstName",
                        "type": "text"
                    },
                    {
                        "name": "lastName",
                        "type": "text"
                    },
                    {
                        "name": "company",
                        "type": "text"
                    },
                    {
                        "name": "phone",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "saveAfterSent": false
            },
            "mapper": {
                "to": [
                    "REP_EMAIL@EXAMPLE.COM"
                ],
                "subject": "HOT LEAD: {{1.firstName}} {{1.lastName}} ({{1.company}})",
                "contentType": "text",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "text": "A new lead just came in:\n\nName: {{1.firstName}} {{1.lastName}}\nCompany: {{1.company}}\nPhone: {{1.phone}}\nEmail: {{1.email}}\n\nTheir follow-up email goes out automatically in 3 minutes."
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Instant rep alert"
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "Your email connection (SMTP / Google / Microsoft)",
                            "data": {
                                "scoped": "true",
                                "connection": "microsoft-smtp-imap"
                            }
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Plaintext"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "180"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Wait 3 minutes"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "validate": {
                            "min": 1,
                            "max": 300
                        },
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "saveAfterSent": false
            },
            "mapper": {
                "to": "{{1.email}}",
                "subject": "Re: Your inquiry",
                "contentType": "text",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "text": "Hi {{ifempty(1.firstName; \"there\")}},\n\nJust got your submission on our site. I'm tied up with another client at the moment but I'll reach out personally very shortly.\n\nBest,\nYour Name\nYour Company"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Lead follow-up (3 min later)"
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "Your email connection (SMTP / Google / Microsoft)",
                            "data": {
                                "scoped": "true",
                                "connection": "microsoft-smtp-imap"
                            }
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "edit"
                        },
                        "contentType": {
                            "label": "Plaintext"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
